# Data Cleaning for the Personality - Hassles model

3 Datasets:
1. 'Base' - Base dataset for personality and hassles
2. 'Categorical' - Separated on the category of hassles (each file contains 1 category of hassle)
3. 'Individual' - Separated on each hassle (each file contains 1 hassle)

## Section 1: Import Librares and Reading the Dataset

In [39]:
import numpy as np
import pandas as pd

In [40]:
personality_df = pd.read_csv('data/source/personality.csv')
hassles_df = pd.read_csv('data/source/hassles.csv')

In [41]:
display(personality_df.head())
display(hassles_df.head())

                              User  Age  Gender   O   C   E   A   N
0      ruzel_khyvin_te@dlsu.edu.ph   21    Male  31  27  17  33  24
1   stacy_selena_kalaw@dlsu.edu.ph   21  Female  40  27  20  18  27
2            kailey_sy@dlsu.edu.ph   19  Female  30  21  19  32  24
3       audrey_salamat@dlsu.edu.ph   20  Female  34  25  13  26  26
4  jhersey_elyza_cheng@dlsu.edu.ph   19  Female  39  17  22  25  36

,User,Misplacing or losing things,Silly practical mistakes,Trouble with pets,Difficulties with friends,Regrets over past decision/s,Concerned about the meaning of life,Being lonely,Inability to express oneself,Fear of rejection,...,Side effects of medication,Concerns about health in general,Concerns about bodily functions,Dissatisfaction with academic performance,Challenges with instructors,Discontent with current academic responsibilities,Concerns regarding academic transitions,Difficulties with peers or classmates,Challenges in managing group projects,Getting late to class
0,ruzel_khyvin_te@dlsu.edu.ph,2,1,3,4,3,4,2,3,4,...,1,3,3,3,2,4,2,3,3,1
1,stacy_selena_kalaw@dlsu.edu.ph,3,2,1,2,2,1,2,1,2,...,1,2,1,1,1,1,1,1,1,1
2,kailey_sy@dlsu.edu.ph,3,3,3,4,4,2,2,2,5,...,4,4,4,4,4,4,3,3,3,3
3,audrey_salamat@dlsu.edu.ph,2,1,1,4,3,4,2,3,4,...,2,2,2,2,3,3,3,2,3,3
4,hannah_regine_fong@dlsu.edu.ph,4,3,4,5,5,5,5,4,5,...,4,4,4,5,5,5,3,5,5,4

## Section 2: Data Cleaning

In [42]:
hassles_df = pd.melt(hassles_df, id_vars = ['User'], var_name = 'Hassle', value_name = 'Severity')

In [43]:
hassles_df.head()

                             User                       Hassle  Severity
0     ruzel_khyvin_te@dlsu.edu.ph  Misplacing or losing things         2
1  stacy_selena_kalaw@dlsu.edu.ph  Misplacing or losing things         3
2           kailey_sy@dlsu.edu.ph  Misplacing or losing things         3
3      audrey_salamat@dlsu.edu.ph  Misplacing or losing things         2
4  hannah_regine_fong@dlsu.edu.ph  Misplacing or losing things         4

In [44]:
df = pd.merge(personality_df, hassles_df, on = 'User', how = 'inner')

In [45]:
df.drop('User', axis = 1, inplace =  True)

In [46]:
df.head()

   Age Gender   O   C   E   A   N                        Hassle  Severity
0   21   Male  31  27  17  33  24   Misplacing or losing things         2
1   21   Male  31  27  17  33  24      Silly practical mistakes         1
2   21   Male  31  27  17  33  24             Trouble with pets         3
3   21   Male  31  27  17  33  24     Difficulties with friends         4
4   21   Male  31  27  17  33  24  Regrets over past decision/s         3

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
df['Gender'] = LabelEncoder().fit_transform(df['Gender'])
df['Hassle'] = LabelEncoder().fit_transform(df['Hassle'])

In [49]:
df.head()

   Age  Gender   O   C   E   A   N  Hassle  Severity
0   21       2  31  27  17  33  24      25         2
1   21       2  31  27  17  33  24      41         1
2   21       2  31  27  17  33  24      48         3
3   21       2  31  27  17  33  24      15         4
4   21       2  31  27  17  33  24      38         3

In [50]:
from sklearn.preprocessing import MinMaxScaler

In [51]:
df['O'] = MinMaxScaler(feature_range = (10, 50)).fit_transform(df[['O']])
df['C'] = MinMaxScaler(feature_range = (9, 45)).fit_transform(df[['C']])
df['E'] = MinMaxScaler(feature_range = (8, 40)).fit_transform(df[['E']])
df['A'] = MinMaxScaler(feature_range = (9, 45)).fit_transform(df[['A']])
df['N'] = MinMaxScaler(feature_range = (8, 40)).fit_transform(df[['N']])

In [52]:
df.head()

,Age,Gender,O,C,E,A,N,Hassle,Severity
0,21,2,16.0,19.285714,15.111111,34.714286,21.714286,25,2
1,21,2,16.0,19.285714,15.111111,34.714286,21.714286,41,1
2,21,2,16.0,19.285714,15.111111,34.714286,21.714286,48,3
3,21,2,16.0,19.285714,15.111111,34.714286,21.714286,15,4
4,21,2,16.0,19.285714,15.111111,34.714286,21.714286,38,3

### 2.1: Base Dataset

In [ ]:
# df.to_csv('data/base/personality_hassles_scaled.csv')

### 2.2: Categorical Dataset

### 2.3 Individual Dataset